<footer>
	<!-- CONTAINER -->
	<div class="container">
		<div>
			<a href="https://prantmedia.com/" target="_blank">
				<img src="img/logo-prantmedia.svg" alt="Prantmedia Web Production" width="144" height="19" loading="lazy">
			</a>
		</div>
		<div>
			<ul class="list-style-1 list-style-2 list-style-3 footer__nav">
				<li>
					<a href="javascript:void(0)">Про нас</a>
				</li>
				<li>
					<a href="javascript:void(0)">Послуги</a>
				</li>
				<li>
					<a href="javascript:void(0)">Контакти</a>
				</li>
			</ul>
		</div>
		<div>
			<ul class="list-style-1 list-style-3 footer__contacts-list">
				<li>
					<a href="tel:+380682407916">+38 068 24 07 916</a>
				</li>
				<li>
					<a href="tel:+380678471720">+38 067 84 71 720</a>
				</li>
			</ul>
		</div>
	</div><!-- END CONTAINER -->
</footer>
