<header>
	<!-- CONTAINER -->
	<div class="container">
		<div class="header__bl-1">
			<img src="img/logo-company.svg" alt="ПЕТРОС ТРАНС. Вантажні перевезення в Європу">
		</div>
		<div class="header__bl-2">
			<nav class="list-style-2 list-style-3 header__nav">
				<ul class="list-style-1">
					<li>
						<a href="javascript:void(0)">Про нас</a>
					</li>
					<li>
						<a href="javascript:void(0)">Послуги</a>
					</li>
					<li>
						<a href="javascript:void(0)">Контакти</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="header__bl-3">
			<ul class="list-style-1 list-style-3 header__contacts-list">
				<li>
					<a href="tel:+380682407916">+38 068 24 07 916</a>
				</li>
				<li>
					<a href="tel:+380678471720">+38 067 84 71 720</a>
				</li>
			</ul>
			<ul class="list-style-1 header__lang">
				<li>
					<a href="javascript:void(0)" class="active">Укр</a>
				</li>
				<li>
					<a href="javascript:void(0)">Рос</a>
				</li>
				<li>
					<a href="javascript:void(0)">Eng</a>
				</li>
			</ul>
		</div>
		<div class="header__bl-4">
			<div class="toggle-wrapper">
				<button class="toggle-btn">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</button>
				<div class="toggle__content">
					<div></div>
				</div>
			</div>
		</div>
	</div><!-- END CONTAINER -->
</header>
