<div class="hel" itemscope itemtype="http://schema.org/Organization">
	<span itemprop="name">ПЕТРОС ТРАНС. Вантажні перевезення в Європу</span>
	<img itemprop="image" src="img/logo-company.svg" alt="ПЕТРОС ТРАНС. Вантажні перевезення в Європу">
	<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
		<span itemprop="streetAddress">вул. Соборна 1, оф. 217</span>
		<span itemprop="addressLocality">Рівне</span>
	</div>
	<span itemprop="telephone">+380682407916</span>
	<span itemprop="telephone">+380678471720</span>
	<span itemprop="email">ptrivne@gmail.com</span>
	<div itemscope itemtype="https://schema.org/LocalBusiness">
		<meta itemprop="name" content="ПЕТРОС ТРАНС. Вантажні перевезення в Європу">
		<meta itemprop="image" content="img/logo-company.svg">
		<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
			<meta itemprop="streetAddress" content="вул. Соборна 1, оф. 217">
			<meta itemprop="addressLocality" content="Рівне">
		</span>
		<meta itemprop="openingHours" content="Mo-Fr 08:00-17:00">
		<meta itemprop="telephone" content="+380682407916">
		<meta itemprop="telephone" content="+380678471720">
		<meta itemprop="email" content="ptrivne@gmail.com">
		<meta itemprop="priceRange" content="UAH">
	</div>
</div>
