%form {
	font-size: fsz(14, 16);

	input:not([type='checkbox']):not([type='radio']):not([type='hidden']),
	button {
		width: 100%;
	}

	textarea,
	input:not([type='checkbox']):not([type='radio']):not([type='hidden']):not([type='file']) {
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
		border: 1px solid transparent;
		border-radius: 2px;
		background-color: rgba($c1, 0.5);
		@include trs-all;

		&:focus {
			border-color: $c3;
			outline: none;
		}
	}

	textarea {
		height: 100px;
		min-height: 100px;
		padding-top: 16px;
		padding-bottom: 16px;
		resize: vertical;
		line-height: 1.25;
	}

	input:not([type='checkbox']):not([type='radio']):not([type='hidden']):not([type='file']),
	select,
	.form__submit {
		width: 100%;
		height: 50px;
	}

	.form__submit {
		padding: 0 15px;
		line-height: 50px;
		color: $c1;
		background-color: $c3;
		text-align: center;

		&:hover {
			text-decoration: none;
			color: $cb;
			background-color: $c6;
		}
	}

	input[type='file'] {
		height: 100%;
	}

	@media (max-width: 576px) {
		font-size: 1rem;

		textarea,
		input:not([type='checkbox']):not([type='radio']):not([type='hidden']):not([type='file']) {
			padding-left: 15px;
			padding-right: 15px;
		}

		textarea {
			padding-top: 11px;
			padding-bottom: 11px;
		}
	}
}
