.list-1,
.list-2 {
	display: grid;
}

.list-1 {
	grid-template-columns: 1fr 200px 200px;
	gap: 50px mp(50, 1200);

	>li {
		&:first-child {
			grid-column: 1/span 1;
			grid-row: 1/span 2;
		}
	}
}

.list-2 {
	grid-template-columns: 130px 1fr;
	gap: 15px 20px;
	align-items: center;

	>div {
		&:nth-child(7) {
			grid-column: 1/span 2;
		}

		&:last-child {
			grid-column: 2/span 1;
		}
	}
}
