//== COLORS
$cb: #000000 !default;
$c1: #ffffff;
$c2: #EAE1D2;
$c3: #124D9B;
$c4: #7360F2;
$c5: #128C7E;
$c6: #EB9423;

//== TYPOGRAPHY
$fb: Roboto, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
$f1: Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
$f2: 'Helvetica CY', 'Nimbus Sans L', sans-serif;
$fsb: 16px !default;
