//== COLORS
$cb: #333333 !default;
$c1: #ffffff;
$c2: #000000;
$c3: #124D9B;
$c4: #7360F2;
$c5: #128C7E;
$c6: #EB9423;
$c7: #EAE1D2;
$c8: #D9D9D9;
$c9: #5E47F0;
$c10: #0F7569;

//== TYPOGRAPHY
$fb: Roboto, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
$f1: Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
$f2: 'Helvetica CY', 'Nimbus Sans L', sans-serif;
$fsb: 16px !default;
